*{
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

.parent{
    display: inline-block;
    border: 3px solid yellow
}

.card-title{
    color: rgb(0, 0, 255);
    font-size: 2.5rem;
    font-family: fantasy;
    position: absolute;
    top: 0;
    left: 0;
}

.hero-name{
    color: rgb(255, 0, 0);
    font-size: 2.9rem;
    border: 3px solid yellow;
    font-family: fantasy;
    text-align: center;
}